/* src/components/Button/Button.module.css */

.base {
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.primary {
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1rem;
  text-shadow: 0 0 20px var(--primary-color);
  border: 1px solid var(--primary-color);
}

.primary:hover {
  background-color: var(--primary-color);
  color: var(--bg-color-main);
}